<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FootballMatches</title>
    <link rel="stylesheet" href="/css/variables.css" asp-append-version="true" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        .main-header {
            width: 100%;
            padding: var(--padding-medium);
            background-color: var(--primary-color);
            box-shadow: 0 4px 8px var(--shadow-color);
            color: var(--white-color);
            box-sizing: border-box;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        .header-nav {
            display: flex;
            gap: var(--padding-medium);
        }
        
        .logo h1 {
            font-size: var(--font-size-title);
            font-weight: 700;
            margin: 0;
            letter-spacing: 1px;
        }

        .nav-btn {
            padding: var(--padding-small) var(--padding-medium);
            font-size: var(--font-size-small);
            font-weight: 600;
            color: var(--secondary-color);
            border: 2px solid var(--white-color);
            border-radius: var(--border-radius-small);
            background-color: var(--primary-color);
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    </style>

</head>
<body>
<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <h1>NATIVE STATS</h1>
        </div>
        <nav class="header-nav">
            <button class="nav-btn">Register</button>
            <button class="nav-btn">Login</button>
        </nav>
    </div>
</header>
<main>
    @RenderBody()
</main>
<link rel="stylesheet" href="/css/styles.css" asp-append-version="true" />
@* ReSharper disable once Html.PathError *@
<script src="~/js/scripts.js" asp-append-version="true" defer></script>
</body>
</html>