.leagues-container {
    padding: var(--padding-large);
}

.league-section {
    margin-bottom: var(--padding-large);
    padding: var(--padding-medium);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 4px 6px var(--shadow-color);
}

.league-section h2 {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: var(--padding-medium);
    color: var(--accent-color);
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
    gap: var(--padding-medium);
}

.carousel-track > match-card {
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
    box-sizing: border-box;
}
